body {
    background-image: url("../Images/img_backgroud.jpg");
    background-size: 100% 100%; /*MODIFICADO AQUI 100% DE ALTURA POR 100% DE LARGURA*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: space;
}
#content {
    margin: 0 auto;
    width: 85%;
    border: hidden;
    border-radius: 10px;
}

#header, #footer {
    height: 200px;
    color: red;
}
#news {
    /*position: absolute;*/
}
#imgNews {
    /*background-image: url(../Images/news1.png);
    background-size: 100% 100%;
    height: auto;*/
    width: 100%;
    /*background-color: lightgray;*/
    border: hidden;
    border-radius: 10px;
    margin: 2px 2px 2px 2px;
    /*position: absolute;*/
    /*top: 0;*/
}
#imgAnuncieAqui {
    /*background-image: url(../Images/anuncieaqui.png);*/
    background-size: 100% 100%;
    float: right;
    width: 300px;
    height: 200px;
    /*position: absolute;
    top: 150px;
    left: 70%;
    right: 0;*/
}
#menuHorizontal {
    height: 50px;
    border-radius: 10px;
    padding:  0px 0px 0px 0px;
}
#menuVertical {
    z-index: 5;
    padding: 5px 5px 5px 5px;
    width: 170px;
    display: block;
    float: left;
    height: 1000px; 
    border-radius: 10px;
    margin: 3px 0px 5px 5px;
}
#centro {
    display: block;
    background-color: white;
    border-radius: 10px;
    height: 1000px; 
    padding:5px 5px 5px 5px;
    margin: 5px 5px 5px 180px; 
}

/*.destaca {
    margin-top: 10px;
    width: 300px;
    height: 200px;
    float: right;
}

.destaca:hover {
    border: 2px solid #0d8cd5;
    background-color: #1480f5;
    opacity: 0.5;
}*/
.box_page {
    /* margin: 0 0 0 11px; */
    margin: 0;
    width: 100%;
}
.listagem-box {
    overflow: hidden;
    padding: 20px 0 20px 0;
    width: 765px;
    border: 1px solid #e7e7e7;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    margin: 15px 0 15px 12px;
}
.listagem-box:hover {
	border: 1px solid #0286f6;
}
.listagem-img {
    float: left;
    width: 100px;
    overflow: hidden;
    text-align: left;
}
.listagem-titulo_descr {
    float: left;
    width: 400px;
    overflow: hidden;
    padding-right: 13px;
}
.listagem-precos {
    float: right;
    width: 115px;
    overflow: hidden;
    padding-right: 10px;
    text-align: right;
    margin-right: 10px;
}
.listagem-bots {
    float: right;
    width: 109px;
    margin: 0 10px 0 0;
}
.breadcrumb {
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 1000;
}
.breadcrumb > span > li {
    display: inline-block;
    right: 0px;
    /*background-color: lavender;
    margin-left: auto;
    margin-right: auto;*/
}
.breadcrumb > span > li > a:active {
    color: #999999;
}
.body {
    /*border: 1px solid black;*/
    border-radius: 10px;
    background-color: white;
    /*opacity: 0.5;*/
    height: auto;
    padding: 10px;

}
.menuVertical {
    background-color: rgb(51,122,183);
    color:white;   
}